<html lang="{{lang}}">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style.css">
        <meta name="description" content="{{description}}">
        <meta name="author" content="{{author}}">
        <meta name="keywords" content="{{keywords}}">
        <meta charset="{{charset}}">
        <link rel="icon" href="{{favicon}}" type="image/x-icon"/>
        <title>{{title}}</title>
    </head>
    <body>
        <div class="container">
            {{content}}
        </div>
    </body>
</html>